<template>
  <div>
    <v-app id="inspire">
      <v-card>
        <v-card-text>
          <v-autocomplete
            v-model="model"
            :items="items"
            :loading="isLoading"
            :search-input.sync="search"
            @change="(event) => runGoogleMaps(event?.suggestion)"
            hide-no-data
            hide-selected
            item-text="val"
            item-value="key"
            label="Your current address"
            placeholder="Find your current address"
            prepend-icon="mdi-map-marker"
            return-object
          ></v-autocomplete>
        </v-card-text>
        <v-card-text v-if="model">
          <h3>Smarty Streets</h3>
          <div>Address Line 1: {{ model.suggestion?.streetLine }}</div>
          <div>City: {{ model.suggestion?.city }}</div>
          <div>State: {{ model.suggestion?.state }}</div>
          <div>Postal Code: {{ model.suggestion?.zipcode }}</div>
          <br />
          <h3>Google Maps</h3>
          <v-list>
            <v-list-item v-for="(opt, i) in googleMapsParser" :key="i">
              <v-list-item-content>
                <div>Formatted Address: {{ opt.formattedAddress }}</div>
                <div>Place ID: {{ opt.placeId }}</div>
                <div>Latitude: {{ opt.lat }} | Longitude: {{ opt.lng }}</div>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-app>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import * as SmartyStreets from "./SmartyStreets";
import * as GoogleMaps from "./GoogleMaps";

//init smarty streets client for type-ahead address search
const smartyStreetsClient = SmartyStreets.initSmartyStreets();

//create formatted address for drop down from address parts
function titleFromSuggestion(
  suggestion: SmartyStreets.AddressSuggestionType
): string {
  return `${suggestion.streetLine}, ${suggestion.city}, ${suggestion.state}, ${suggestion.zipcode}`;
}

//basically console logging function
export function logToConsole(
  fileName: string,
  groupName: string,
  events: any[] = [],
  backgroundColor: string = "#000",
  textColor: string = "#32CD32"
) {
  console.group(
    `%c(${fileName}): ${groupName.toUpperCase()}`,
    `background: ${backgroundColor}; color: ${textColor}`
  );
  if (Array.isArray(events)) {
    for (const opt of events) {
      console.log(opt);
    }
  }
  console.groupEnd();
}
//data type of the component state
interface DataType {
  descriptionLimit: number;
  entries: SmartyStreets.AddressSuggestionType[];
  isLoading: boolean;
  search: any;
  model: any;
  googleMaps: any;
}

export default Vue.extend({
  name: "AddressAutoComplete",
  components: {},
  data: (): DataType => ({
    descriptionLimit: 60,
    entries: [],
    isLoading: false,
    search: null,
    model: null,
    googleMaps: null,
  }),
  methods: {
    async runGoogleMaps(suggestion: SmartyStreets.AddressSuggestionType) {
      if (!suggestion) {
        return;
      }

      //get the geo data from google maps
      const googleMaps = await GoogleMaps.getGeoData(
        suggestion.streetLine,
        suggestion.city,
        suggestion.state,
        suggestion.zipcode
      );
      logToConsole("AddressAutoComplete", "Google Maps Geo Locate", [
        googleMaps,
      ]);
      logToConsole("AddressAutoComplete", "Smarty Streets Suggesstions", [
        suggestion,
      ]);
      this.googleMaps = googleMaps;

      //run zip code client from smarty streets
      SmartyStreets.getZipCodeLookup(
        suggestion.city,
        suggestion.state,
        smartyStreetsClient.zipCodeClient
      );
    },
  },
  computed: {
    items() {
      return (this.entries ?? []).map((suggestion) => {
        const title = titleFromSuggestion(suggestion);
        return {
          key: title,
          val: title,
          suggestion,
        };
      });
    },
    googleMapsParser() {
      return (this?.googleMaps?.results ?? []).map((result: any) => {
        return {
          formattedAddress: result.formatted_address,
          placeId: result.place_id,
          ...result?.geometry?.location, //lat,lng
        };
      });
    },
  },
  watch: {
    async search(query) {
      //don't run while loading already
      if (this.isLoading) {
        return;
      }

      //don't run if at least 3 characters have not been entered
      if ((query ?? "").length < 3) {
        return;
      }

      //mark the component loading
      this.isLoading = true;

      //lazy load address
      this.entries = await SmartyStreets.getAddressSuggestions(
        query,
        smartyStreetsClient.autoCompleteClient
      );
      this.isLoading = false;
    },
  },
});
</script>
